img {
  width: 40vw;
}

.title {
  font-size: 40px;
}

.byline {
  font-size: 20px;
}

.subsection {
  font-style: italic;
}

.subsection,
.section {
  text-transform: capitalize;
}

.details {
  padding: 2%;
  padding-bottom: 4%;
}